<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/styles2.css">
    <!-- <link rel="stylesheet" href="../assets/styles/styles.css" /> -->
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../assets/styles/contact.css">
    <title>Contact - Mighty Ducks Hockey League</title>
  </head>
  <body>
    <header>
      <h1 class="main_title">Mighty Ducks Hockey League</h1>
      <figure>
        <img src="../assets/imgs/design1_image1.jpg" alt="" class="banner" />
      </figure>
      <figure>
        <img src="../assets/imgs/logo.png" alt="Logo" class="logo" />
      </figure>
      <h1 class="events_title">Contact</h1>
    </header>

    <main>
      <section>
        <ul class="menu">
          <li><a href="./index.html"  rel="noopener noreferrer">Home</a>
          <li><a href="./about.html"  rel="noopener noreferrer">About</a></li>
          <li><a href="#"  rel="noopener noreferrer">Contact</a></li>
        </ul>
      </section>
      <section class="contact_info">
        <p>
          Please email us at <a href="mdhl@chihockey.org">mdhl@chihockey.org</a>
        </p>
        <p>We reply to your email as soon as we can.</p>
      </section>
    </main>
  </body>
</html>
